#description-container {
    background-color:#f0f0f0;
    border: 1px solid grey;
    padding:5px;
}

/* *********************
 Algolia related below
********************* */

/* Algolia reset button */
.ais-clear-all--link-disabled {
    background-color: darkgrey
}
.ais-clear-all--link {
    background-color: grey
}

/* Pagination item */
.ais-pagination--item__active {
    background-color: grey
}

.ais-refinement-list--label {
    color: grey
}

.ais-refinement-list--count {
    color: grey
}

.p-research-item {
    color: red
}

